@font-face {
	font-family: "OEMeodedPashutCondencedPro-Light";
	src: url("/assets/Fonts/OEMeodedPashutCondencedPro-Light.otf") format("opentype");
}

body,
html {
	font-size: 16px;
	margin: 0;
	padding: 0;
	direction: rtl;
	font-family: "OEMeodedPashutCondencedPro-Light";
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.separator {
	font-size: 1.8rem;
	color: white;
}

.oz-nadlan--landing-page {
	background-color: white;
	&__logo {
		padding-top: 0.5rem;
		width: 150px;
		height: auto;
		margin: auto;
		img {
			position: absolute;
			width: 150px;
			height: auto;
		}
	}
	&__wrapper {
		padding: 1rem;
		max-width: 1200px;
		margin: auto;
		.images-container {
			display: flex;
			flex-direction: row;
			&__container {
				flex: 1;
				.right {
					background-color: #a9d9b1;
				}

				.left {
					background-color: #bdd3e0;
				}
				&--image {
					// background-size: contain;
					// background-repeat: no-repeat;
					max-height: 400px;
					img {
						width: 100%;
						max-height: 400px;
					}
				}
				&--text {
					height: 13rem;
					margin-top: -2rem;
					text-align: center;
					&__title {
						font-size: 4.5rem;
						// padding: 0.5rem 0;
					}
					&__details {
						font-size: 2rem;
						// width: 70%;
						margin: 0 auto;
					}
				}
			}
		}
		.footer {
			padding-top: 1rem;
			background-color: #56636b;
			color: white;
			&__disclaimer {
				font-size: 1.6rem;
				text-align: center;
				&--part {
					display: inline-block;
				}
			}
			&__flexbox {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
				padding: 0 1rem 1rem 1rem;
				&--logo {
					background-image: url("assets/logo_white_png.png");
					height: 7rem;
					width: 7rem;
					background-size: contain;
					background-repeat: no-repeat;
				}
				&--call {
					display: none;
				}
				&--details {
					padding-bottom: 0.5rem;
					padding-right: 0.5rem;
				}
				&--chunk {
					display: flex;
					flex-direction: row;
					align-items: flex-end;
					& button {
						font-family: "Heebo", sans-serif;
						border: none;
						background-color: #ebeee4;
						height: 2.3rem;
						margin: 0 0.25rem;
						font-weight: bold;
					}
					& input {
						font-family: "Heebo", sans-serif;
						height: 2.3rem;
						width: 10rem;
						min-width: 8rem;
						font-weight: bold;
						color: black;
						margin: 0 0.25rem;
						padding-right: 0.5rem;
						&::placeholder {
							font-weight: bold;
							color: black;
						}
					}
					&__secret {
						text-align: center;
						font-size: 1.2rem;
						font-weight: bold;
						&--number {
							display: block;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1080px) {
	.separator {
		

		font-size: 4.6rem;
		line-height: 0.7;
	}
	.oz-nadlan--landing-page {
		background-color: #56636b;
		padding: 0;
		&__logo {
			padding-top: 1rem;
			padding-bottom: 0.5rem;
			width: 350px;
			height: auto;
			margin: auto;
			img {
				position: relative;
				width: 350px;
				height: auto;
			}
		}
		&__wrapper {
			padding: 1rem 0 0 0;
			.images-container {
				.penthouse {
					background-image: url("assets/penthouse_desktop.png");
				}

				.garden {
					background-image: url("assets/garden_desktop.png");
				}
				.spacing {
					margin-top: 8rem;
				}
				flex-direction: column;
				&__container {
					img {
						display: none;
					}
					&--image {
						background-size: cover;
						background-repeat: no-repeat;
						height: 42rem;
						max-height: unset;
					}
					&--text {
						height: 25rem;
						&__title {
							font-size: 9rem;
							padding-bottom: 0.5rem;
						}
						&__details {
							width: 90%;
							font-size: 3.5rem;
						}
					}
				}
			}
			.footer {
				&__disclaimer {
					font-size: 3rem;
					&--part {
						display: block;
					}
				}
				&__flexbox {
					flex-direction: column;
					justify-content: center;
					align-items: center;
					&--logo {
						margin-top: 1rem;
						padding-top: 2rem;
						background-image: url("assets/logo_white_png.png");
						width: 23rem;
						height: 23rem;
					}
					&--details {
						font-size: 2.3rem;
						padding: 0;
					}
					&--call {
						display: block;
						margin: auto;
						padding: 1rem;
						& img {
							width: 100px;
							height: 100px;
						}
					}
					&--chunk {
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 100%;
						& button {
							width: 80%;
							height: 5rem;
							font-size: 3rem;
							text-align: right;
							color: #56636b;
							margin: 0.5rem 0;
							padding-right: 2rem;
							background-color: #d8e0e3;
						}
						& input {
							order: 1;
							padding-right: 2rem;
							width: 80%;
							border: none;
							margin: 0.5rem 0;
							height: 5rem;
							padding-top: 1.3rem;
							&::placeholder {
								font-size: 3rem;
								color: #56636b;
							}
						}
						&__project-site {
							order: 3;
							text-align: center !important;
							padding: 0 !important;
							margin: 3rem 0 !important;
						}
						&__secret {
							order: 2;
							width: 100%;
							&--number {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
