@font-face {
  font-family: "OEMeodedPashutCondencedPro-Light";
  src: url("./assets/fonts/OEMeodedPashutCondencedPro-Light.otf") format("opentype");
}
body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "OEMeodedPashutCondencedPro-Light";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  font-family: "Heebo", sans-serif;
  border: none;
  background-color: #ebeee4;
  height: 2.3rem;
  margin: 0 0.25rem;
  font-weight: bold;
  font-size: 0.7rem;
  outline: none;
  padding: 0 1rem;
  text-decoration: none;
  line-height: 2.3rem;
  color: #000000;
  min-width: 5rem;
  text-align: center;
  cursor: pointer;
}
.btn:visited, .btn:active {
  color: #000000;
}

.crm-form {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.separator {
  font-size: 1.8rem;
  color: white;
}

.oz-nadlan--landing-page {
  background-color: white;
}
.oz-nadlan--landing-page__logo {
  padding-top: 0.5rem;
  width: 150px;
  height: auto;
  margin: auto;
}
.oz-nadlan--landing-page__logo img {
  position: absolute;
  width: 150px;
  height: auto;
}
.oz-nadlan--landing-page__wrapper {
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}
.oz-nadlan--landing-page__wrapper .images-container {
  display: flex;
  flex-direction: row;
}
.oz-nadlan--landing-page__wrapper .images-container__container {
  background-color: #bdd3e0;
  flex: 1;
}
.oz-nadlan--landing-page__wrapper .images-container__container .right {
  background-color: #a9d9b1;
}
.oz-nadlan--landing-page__wrapper .images-container__container .left {
  background-color: #bdd3e0;
}
.oz-nadlan--landing-page__wrapper .images-container__container--image.garden {
  background-color: #bdd3e0;
}
.oz-nadlan--landing-page__wrapper .images-container__container--image.penthouse {
  background-color: #a9d9b1;
}
.oz-nadlan--landing-page__wrapper .images-container__container--image img {
  width: 100%;
  height: auto;
}
.oz-nadlan--landing-page__wrapper .images-container__container--text {
  height: 13rem;
  margin-top: -1rem;
  text-align: center;
}
.oz-nadlan--landing-page__wrapper .images-container__container--text__title {
  font-size: 4.5rem;
}
.oz-nadlan--landing-page__wrapper .images-container__container--text__details {
  font-size: 1.5rem;
  margin: 0 auto;
}
.oz-nadlan--landing-page__wrapper .footer {
  padding-top: 2rem;
  background-color: #56636b;
  color: white;
}
.oz-nadlan--landing-page__wrapper .footer__disclaimer {
  font-size: 1.6rem;
  text-align: center;
}
.oz-nadlan--landing-page__wrapper .footer__disclaimer--part {
  display: inline-block;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem 1rem 1rem;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--logo img {
  width: 6rem;
  height: auto;
  margin-right: 1rem;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--call {
  display: none;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--details {
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 1rem;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--chunk {
  flex: 1;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--chunk button {
  margin: 0 0.25rem;
  font-weight: bold;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--chunk input {
  border: none;
  font-family: "Heebo", sans-serif;
  width: 8rem;
  min-width: 8rem;
  font-weight: bold;
  color: black;
  margin: 0 0.25rem;
  padding-right: 0.5rem;
  height: 2.2rem;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--chunk input::placeholder {
  font-weight: bold;
  color: black;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--chunk__secret {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.oz-nadlan--landing-page__wrapper .footer__flexbox--chunk__secret--number {
  display: block;
}

@media (max-width: 1080px) {
  .crm-form {
    text-align: center;
    display: block;
  }

  .btn {
    height: 5rem;
    width: 80%;
    line-height: 5rem;
    color: #56636b;
    font-size: 3rem;
  }
  .btn:active, .btn:visited {
    color: #56636b;
  }

  .separator {
    font-size: 4.6rem;
    line-height: 0.7;
  }

  .oz-nadlan--landing-page {
    background-color: #56636b;
    padding: 0;
  }
  .oz-nadlan--landing-page__logo {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    width: 350px;
    height: auto;
    margin: auto;
  }
  .oz-nadlan--landing-page__logo img {
    position: relative;
    width: 350px;
    height: auto;
  }
  .oz-nadlan--landing-page__wrapper {
    padding: 1rem 0 0 0;
  }
  .oz-nadlan--landing-page__wrapper .images-container {
    flex-direction: column;
  }
  .oz-nadlan--landing-page__wrapper .images-container .penthouse {
    background-image: url("assets/penthouse_desktop.png");
  }
  .oz-nadlan--landing-page__wrapper .images-container .garden {
    background-image: url("assets/garden_desktop.png");
  }
  .oz-nadlan--landing-page__wrapper .images-container .spacing {
    margin-top: 8rem;
  }
  .oz-nadlan--landing-page__wrapper .images-container__container img {
    display: none;
  }
  .oz-nadlan--landing-page__wrapper .images-container__container--image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 42rem;
    max-height: unset;
  }
  .oz-nadlan--landing-page__wrapper .images-container__container--text {
    height: 25rem;
  }
  .oz-nadlan--landing-page__wrapper .images-container__container--text__title {
    font-size: 9rem;
    padding-bottom: 0.5rem;
  }
  .oz-nadlan--landing-page__wrapper .images-container__container--text__details {
    width: 90%;
    font-size: 3.5rem;
  }
  .oz-nadlan--landing-page__wrapper .footer__disclaimer {
    font-size: 3.1rem;
    line-height: 1.2;
  }
  .oz-nadlan--landing-page__wrapper .footer__disclaimer--part {
    display: block;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--logo {
    padding: 3rem 1rem 1rem 1rem;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--logo img {
    width: 13rem;
    height: auto;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--details {
    font-size: 3.6rem;
    line-height: 1.9;
    padding: 0;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--call {
    display: block;
    margin: auto;
    padding: 1rem;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--call img {
    width: 100px;
    height: 100px;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--chunk {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: unset;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--chunk button {
    width: 80%;
    height: 5rem;
    font-size: 3rem;
    text-align: right;
    color: #56636b;
    margin: 0.5rem 0;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--chunk input {
    order: 1;
    padding-right: 2rem;
    width: 80%;
    border: none;
    margin: 0.5rem 0;
    height: 5rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #56636b;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--chunk input::placeholder {
    font-size: 3rem;
    color: #56636b;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--chunk__project-site {
    order: 3;
    text-align: center;
    padding: 0;
    margin: 3rem 0;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--chunk__secret {
    order: 2;
    width: 100%;
  }
  .oz-nadlan--landing-page__wrapper .footer__flexbox--chunk__secret--number {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
